*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    width: 85%;
    margin: 0 7.5%;
    margin-left: 5%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-bar ul li{
    display: inline-block;
    list-style: none;
    margin:  0 20px ;
    position: relative;
}
.nav-bar ul li a{
    text-decoration: none;
    color:rgb(23, 7, 109);
  

}
.logo{
    width: 80px;
   
   
}
.nav-bar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: rgb(23, 7, 109);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.nav-bar ul li:hover::after{
    width: 100%;

}
form{
   
    
    width: 90%;
    max-width: 600px;
    margin-left: 30%;
  
    
}
.input-group{
    margin-bottom:20px;
    position: relative;

    
}
input, textarea{
    width: 100%;
    padding: 7px;
   
    border: 1.5px solid rgb(23, 7, 109);
    font-size: 15px;
    border-radius: 3px;
    
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: text;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 10px;
    color: rgb(23, 7, 109);
    transition: 0.2s;
}
button{
    padding: 10px 0;
    outline: none;
    border: 1px solid rgb(23, 7, 109);
    width: 100%;
    background:rgb(23, 7, 109) ;
    cursor: pointer;
    color: #fff;
    border-radius: 12px;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -25px;
    font-size: 12px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;
}
.footer{
    padding: 20px 0 ;
    background-color: rgb(23, 7, 109);
    margin-top: 8px;
   
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #ccc;
}
.footer .social a{
    color: #fff;
}


.footer .social a i{
    width: 30px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    margin-right: 20px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.3s ease;
}
.footer .social a i:hover{
background-color: #9fafca;
}
.footer ul{
  
 
    list-style: none;
    font-size: 15px;
   
   
    margin-bottom: 1;
    text-align: center;
}
.footer ul li a{
    color:#9fafca ;
    text-decoration: none;

}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
   
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #9fafca;
}
.menu-toggle{

    display: none;
}
.nav-bar2{
    display: none;
}
@media (max-width:760px){
 
  form{
   
    
    width: 75%;
    max-width: 600px;
    margin-left: 13%;
  
    
}
.menu-toggle{
    display:block;
    position:absolute;
    margin-left: 85%;
    bottom: 85%;
    font-size: 22px;
   
}
.menu-toggle2{
    display: inline-block;
    position:absolute;
    margin-left: 85%;
    bottom: 85%;
    font-size: 22px;}
   
.nav-bar ul {

  display: none;  
}
.nav-bar2{
    display: inline-block;
}
.nav-bar2 {
   position: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;
   top: 0;
   padding-top: 14%;
   z-index: 999;
   justify-content: center;
   align-items: center;
   background: black;
   display: none;
}
.nav-bar2-open{
    display: inline-block;
}

.nav-bar2 ul li{
    
    display: flex;
    flex-direction: column;
    list-style: none;
    margin:  0 40px ;
   
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;

  

}
.nav-bar2 ul li a{
    text-decoration: none;
    color: #fff;
    margin-top: 10%;
}
}
@media (min-width:760px) {
    .nav-bar2-open{
        display: none;
    }
    
    
}
